* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__posts {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup,
.app__login {
  display: flex;
  flex-direction: column;
  text-align: center;
}
